/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */


html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
    font-family: FashionFetishSmallCaps
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
font-family: 'FashionFetishSmallCaps';
    src: url('Fashion_Fetish_Small_Caps.ttf');}

body {background: hsl(347,100%,95%);}



/*HEADER*/
header {display: grid; grid-template-columns: 1fr auto;}
header>* {bor der: 1px solid white; padding: 20px}

h1 {margin: 0;}
nav {text-align: right;}
nav li {display: inline-block; margin: 0 10px; list-style: none;}
nav a {text-decoration: none; color: black;}
.dropdown {position: relative;}
.drop-content {display: none; position: absolute; z-index: 1; padding-left: 0; background: hsla(347,100%,95%, .9); width: 180%;}
.drop-content a {display: block; bor der: 1px solid red; font-size: 85%; text-align: left; margin-top: 5px;}
.dropdown:hover .drop-content {display: block;}




/*GENERAL*/
article {font-family: "Avenir"; margin: 50px 22vw}
h2, h3 {font-family: "FashionFetishSmallCaps"}
a {text-decoration: none; color: black;}
a:hover {opacity: .6}
.box:hover {opacity: .6}
* {bor der: 1px solid red;}



/*ABOUT*/
.about p {margin-top: 0; margin-bottom: 10px}
.about figure {margin: 0 auto 20px; width: 45vw; max-width: 450px}
.about img {width: 100%}


/*PORTFOLIO*/
.portfolio {margin: 50px 25vw; display: grid; grid-template-columns: 31% 31% 31%; grid-gap: 3.5%;}
.portfolio h3 {text-align: center;}

.box {margin-bottom: 5px;}
.box h3 {margin-bottom: 0;}
.port-thesis, .port-origami_bags, .port-in_out, .port-box_shorts, .port-float, .port-bleach {padding-top: 100%;}

.port-thesis {background: hsl(200, 72%, 82%)}
.port-origami_bags {background: url(../images/origami_bags/3-3.jpg) no-repeat center 88%; background-size: 125%;}
.port-in_out {background: url(../images/in_out/in-6.jpg) no-repeat center center; background-size: cover;}
.port-box_shorts {background: url(../images/box_shorts/3.jpg) no-repeat top center; background-size: cover;}
.port-float {background: url(../images/float/1.jpg) no-repeat center center; background-size: cover;}
.port-bleach {background: url(../images/bleach/3.jpg) no-repeat center center; background-size: cover; background-position: 80%}



/*PROJECT PAGES*/
.text {display: grid; grid-template-columns: 1fr 2fr; grid-column-gap: 20px}
.text h2 {margin: 0; text-align: right;}

.body p {margin-bottom: 5px; text-indent: 2em}

.container {text-align: center;}
.images {border: 2px solid white; margin: 0; display: inline-grid; grid-template-columns: auto auto; grid-gap: 20px;}
.images img {width: 17vw}

.hoverz:hover{
   transform: scale(1.5);
   
}


/*INWARD / OUTWARD*/
.title {display: flex; flex-direction: column; justify-content: flex-end;}
.masking {letter-spacing: .26em}
.inward {letter-spacing: .3em}
.projecting {letter-spacing: .06em}
.outward {letter-spacing: .2em}
#in_out_process {grid-column: 1/-1}
#in_out_process {width: 100%}
#in_texture {grid-column: 2/4;}
#in_texture_img {width: 100%}

/*CONTACT*/
.contact {display: grid; grid-template-columns: auto 1fr; grid-column-gap: 10px;}
.left {text-align: right;}
p, div {margin-top:0}
#address p {margin-top:0; margin-bottom: 0}
.contact a {color: navy}
form {margin-top: 30px}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}



@media screen and (max-width: 768px){
    nav li {display: block;}
    nav {padding: 0 20px; position: }
    .drop-content {position: relative;}
    
    #selfie {wi dth: 45vw}
    
    .portfolio {margin: 50px 20vw}
    
    article {margin: 50px 15vw}
    .title {font-size: 85%}
    .body {font-size: 85%}
    .images img {width: 32vw}
    .images_bags {grid-template-columns: 32vw 32vw; grid-gap: 6vw;}
    #in_texture {grid-column: 1/3;}
}


@media screen and (max-width: 600px){
    body {bac kground: white;}
    header {font-size: 80%}
    .portfolio {font-size: 80%; grid-template-columns: 47% 47%; grid-gap: 6%;}
}


@media screen and (max-width: 480px){
    .text {display: block;}
    .text h2 {text-align: left;}
    .date {width: 50%;}
    .portfolio {display: block;}
    
}


@media screen and (min-width: 900px){
    .title {font-size: 20px}
    .images img {width: 17vw}
}

@media screen and (min-width: 1024px){
    .images {grid-template-columns: auto auto auto;}
    .images img {wid th: 17vw}
     .images_bags {grid-template-columns: 17vw 17vw 17vw; grid-gap: 2.5vw}
    .title {font-size: 25px}
}


    
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}

